* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

.button {
  font-family: "open-sans", sans-serif;
  font-weight: bold;
  line-height: 150%;
  color: #fafafa;
  background-color: #ff7548;
  display: flex;
  justify-self: flex-start;
  border: 2px solid transparent;
  border-radius: 9px;
  padding: 7px 22px;
}

.button:active {
  color: #ff7548;
  background-color: #fafafa;
  border: solid 2px #ff7548;
  text-decoration: none;
}

p {
  font-family: "open-sans", sans-serif;
  font-size: 1.25rem;
  line-height: 30px;
  color: #181a1b;
  text-wrap: pretty;
}

a {
  font-family: "open-sans", sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-family: "lexend-deca", sans-serif;
  font-size: 48px;
}

h3 {
  font-family: "lexend-deca", sans-serif;
  font-size: 36px;
}
